<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title id="title">SAI-GM Video Chat SFU - Hakkımızda.</title>
        <link id="icon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            id="description"
            name="description"
            content="WebRTC ve mediasoup tarafından desteklenen SAI-GM Video Chat SFU, tarayıcıda Gerçek Zamanlı Basit Güvenli Hızlı görüntülü aramalar ve ekran paylaşımı özellikleri."
        />
        <meta
            id="keywords"
            name="keywords"
            content="webrtc, SAI-GM Video Chat, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta id="ogType" property="og:type" content="app-webrtc" />
        <meta id="ogSiteName" property="og:site_name" content="SAI-GM Video Chat" />
        <meta id="ogTitle" property="og:title" content="Arama yapmak için bağlantıya tıklayın." />
        <meta
            id="ogDescription"
            property="og:description"
            content="SAI-GM Video Chat SFU araması, gerçek zamanlı video görüşmeleri ve ekran paylaşımı sağlar."
        />
        <meta id="ogUrl" property="og:url" content="https://sfu.alchemy.com.tr" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" type="text/css" href="../css/landing.css" />

        <!-- Js scripts -->

        <script defer src="../js/Brand.js"></script>
        <script async src="../js/Umami.js"></script>

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    <body>
        <main>
            <div id="aboutDiv">
                <iframe
                    id="aboutIframe"
                    loading="lazy"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE693uLOIU&#x2F;view?embed"
                    allowfullscreen="allowfullscreen"
                    allow="fullscreen"
                >
                </iframe>
            </div>
        </main>

        <footer id="footer" class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="/">
                            <img class="header-logo-image" src="../images/logo.svg" alt="Logo" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <script defer src="../js/Landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
